<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Income Prediction</title>
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="undefined"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html" style="color:rgb(196, 6, 230)">Income Classfication</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false" style="color:rgb(196, 6, 230)">ML Models</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/static/forest.html">Random Forest</a>
              <a class="dropdown-item" href="/static/Logistic Regression.html">Logistic Regression</a>
              <a class="dropdown-item" href="/static/svm.html">SVM</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/tableau.html" style="color:rgb(196, 6, 230)">Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/credits.html" style="color:rgb(196, 6, 230)">Credits</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Background Image 1st Row-->
  <div class="parallax" style="background-image: url('static/img/dol_sign.png'); height: 106vh;">

    <div class="container text-center">
      <div class="row">
        <h3 style="color:rgb(239, 243, 16)">Can we accurately predict if your income is greater or less than $50,000?
        </h3>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <h5 style="color:rgb(239, 243, 16)">Please provide us with the following information.</h5>
      </div>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <!--------------------------------------------------------------->
          <ul class="list-group">
            <li class="list-group-item">
              <label for="Age">Enter your age</label>
              <input id="Age" type="text" placeholder="" />
            </li>
            <li class="list-group-item">
              <label for="Gender">Enter gender assigned at birth</label>
              <select id="Gender" name="text" placeholder="">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </li>
            <li class="list-group-item">
              <label for="Education">Enter Education </label>
              <select id="Education" name="text" placeholder="">
                <option value="Preschool">Preschool</option>
                <option value="1st-4th">1st-4th</option>
                <option value="5th-6th">5th-6th</option>
                <option value="7th-8th">7th-8th</option>
                <option value="9th">9th</option>
                <option value="10th">10th</option>
                <option value="11th">11th</option>
                <option value="12th">12th</option>
                <option value="HS-grad">HS-grad</option>
                <option value="Some-college">Some-colleg </option>
                <option value="Assoc-voc">Assoc-voc</option>
                <option value="Assoc-acdm">Assoc-acdm</option>
                <option value="Bachelors">Bachelors </option>
                <option value="Masters">Masters</option>
                <option value="Prof-school">Prof-school</option>
                <option value="Doctorate">Doctorate</option>
              </select>
            </li>
            <li class="list-group-item">
              <label for="Hours per week">Enter hours</label>
              <input id="Hours per week" type="text" placeholder="" />
            </li>
            <li class="list-group-item">
              <label for="marital-status">Enter marital-status </label>
              <select id="marital-status" name="text" placeholder="">

                <option value="Married-AF-spouse">Married-AF-spouse</option>
                <option value="Married-civ-spouse">Married-civ-spouse</option>
                <option value="Married-spouse-absent">Married-spouse-absent</option>
                <option value="Divorced">Divorced</option>
                <option value="Never-married">Never-married</option>
                <option value="Separated">Separated</option>
                <option value="Widowed">Widowed</option>
              </select>
            </li>
            <li class="list-group-item">
              <label for="Occupation">Enter Occupation</label>
              <select id="Occupation" name="text" placeholder="">
                <option value="Adm-clerical">Adm-clerical</option>
                <option value="Armed-Forces">Armed-Forces</option>
                <option value="Craft-repair">Craft-repair</option>
                <option value="Exec-managerial">Exec-managerial</option>
                <option value="Farming-fishing">Farming-fishing</option>
                <option value="Handlers-cleaners">Handlers-cleaners</option>
                <option value="Machine-op-inspct">Machine-op-inspct</option>
                <option value="Other-service">Other-service</option>
                <option value="Priv-house-serv">Priv-house-serv</option>
                <option value="Prof-specialty">Prof-specialty</option>
                <option value="Protective-serv">Protective-serv</option>
                <option value="Sales">Sales</option>
                <option value="Tech-support">Tech-support</option>
                <option value="Transport-moving">Transport-moving</option>
              </select>
            </li>
            <li class="list-group-item">
              <label for="Work Class">Enter Work Class </label>
              <select id="Work Class" name="text" placeholder="">
                <option value="Private"> Private </option>
                <option value="Self-emp-not-inc"> Self-emp-not-inc </option>
                <option value="Local-gov"> Local-gov </option>
                <option value="State-gov"> State-gov </option>
                <option value="Self-emp-inc"> Self-emp-inc </option>
                <option value="Federal-gov"> Federal-gov </option>
                <option value="Without-pay"> Without-pay </option>
              </select>
            </li>
            <li class="list-group-item">
              <label for="Relationship">Enter Relationship</label>
              <select id="Relationship" name="text" placeholder="">
                <option value="Husband">Husband</option>
                <option value="Wife">Wife</option>
                <option value="Not-in-family">Not-in-family</option>
                <option value="Own-child">Own-child</option>
                <option value="Unmarried">Unmarried</option>
                <option value="Other-relative">Other-relative</option>
              </select>
            </li>
            <li class="list-group-item">
              <label for="Race">Enter Race </label>
              <select id="Race" name="text" placeholder="">
                <option value="White"> White </option>
                <option value="Black"> Black </option>
                <option value="Asian-Pac-Islander"> Asian-Pac-Islander </option>
                <option value="Amer-Indian-Eskimo"> Amer-Indian-Eskimo </option>
                <option value="Other"> Other </option>
              </select>
            </li>

            <li class="list-group-item">
              <label for="native-country">Enter native country</label>
              <select id="native-country" name="text" placeholder="">
                <option value="United-States">United States</option>
                <option value="Mexico">Mexico</option>
                <option value="Philippines">Philippines</option>
                <option value="Germany">Germany</option>
                <option value="Puerto-Rico">Puerto Rico</option>
                <option value="Canada">Canada</option>
                <option value="El-Salvador">El Salvador</option>
                <option value="India">India</option>
                <option value="Cuba">Cuba</option>
                <option value="England">England</option>
                <option value="Jamaica">Jamaica</option>
                <option value="South">South</option>
                <option value="China">China</option>
                <option value="Italy">Italy</option>
                <option value="Dominican-Republic">Dominican Republic</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Japan">Japan</option>
                <option value="Poland">Poland</option>
                <option value="Columbia">Columbia</option>
                <option value="Haiti">Haiti</option>
                <option value="Taiwan">Taiwan</option>
                <option value="Iran">Iran</option>
                <option value="Portugal">Portugal</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Peru">Peru</option>
                <option value="Greece">Greece</option>
                <option value="France">France</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Ireland">Ireland</option>
                <option value="Hong">Hong</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Trinadad&Tobago">Trinadad and Tobago</option>
                <option value="Laos">Laos</option>
                <option value="Thailand">Thailand</option>
                <option value="Yugoslavia">Yugoslavia</option>
                <option value="Outlying-US(Guam-USVI-etc)">Outlying US(Guam-USVI-etc)</option>
                <option value="Hungary">Hungary</option>
                <option value="Honduras">Honduras</option>
                <option value="Scotland">Scotland</option>
                <option value="Holand-Netherlands">Holand Netherlands</option>
              </select>
            </li>

            <button onclick="getResponse()" id="btn" class="btn btn-default">

              <style>
                input[type=submit] {
                  background-color: #050e16;
                  border: none;
                  color: rgb(239, 243, 16);
                  padding: 16px 32px;
                  text-decoration: none;
                  margin: 4px 2px;
                  cursor: pointer;
                }
              </style>Predict
            </button>

          </ul>

          <br>
          <br>

        </div>
      </div>
    </div>

    <div class="container text-center">
      <div class="row">
        <h3 id="result" style="color:rgb(239, 243, 16)"></h3>
      </div>
    </div>


  </div>

  <script src="static/js/income.js"></script>

</body>

</html>