
.jumbotron {
    background-image: url("https://www.shutterstock.com/image-vector/green-dollar-symbols-scatter-currency-vector-1931743439");
    background-size: 100% 100%;
    text-align: center;
  }