nav {
  text-indent: 8px;
  text-align: center;
  font-size: 15px;
  opacity: 0.9;
}
.dropdown-item {
  color:silver
}


.container h1{
  color:rgb(60,91,89);
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.jumbotron {
  background-color:rgba(245, 253, 247, 0.932);
}

.jumbotron h2 {
  text-align: center;
}

img {
  size: 50% 50%;
  width:1100px;

}